@charset "UTF-8";
body .header {
  display: flex;
  grid-area: header;
  position: sticky;
  top: 0%;
  z-index: 2;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-around; }

body {
  display: grid;
  grid-template-columns: 25% 40% 35%;
  background-color: white;
  grid-template-areas: "header header header" "main__index main__index main__index" "footer footer footer"; }
  body .header {
    background-color: white; }
    body .header .logo {
      display: flex;
      background-color: #faf4f4;
      margin-left: 3%;
      margin-right: 0%; }
    body .header .img_header {
      margin-bottom: 1%; }
  body .main__index {
    display: grid;
    grid-area: main__index;
    background: #fcfffa;
    background: -moz-linear-gradient(-45deg, #fcfffa 0%, #c9ffbd 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #fcfffa), color-stop(100%, #c9ffbd));
    background: -webkit-linear-gradient(-45deg, #fcfffa 0%, #c9ffbd 100%);
    background: -o-linear-gradient(-45deg, #fcfffa 0%, #c9ffbd 100%);
    background: -ms-linear-gradient(-45deg, #fcfffa 0%, #c9ffbd 100%);
    background: linear-gradient(135deg, #fcfffa 0%, #c9ffbd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfffa', endColorstr='#c9ffbd', GradientType=1 );
    border-top: solid 0px #9ea09a;
    justify-items: center;
    padding-top: 0px; }
    body .main__index .h1_index {
      background-color: #9af883;
      padding-bottom: 0rem;
      padding-top: 0rem;
      margin-top: 1%;
      text-align: center;
      width: 100%;
      height: 85%;
      font-size: 1.5rem;
      color: grey;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode',  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      flex-wrap: wrap; }
    body .main__index .h2_index {
      margin-top: 3%;
      text-align: center;
      width: 100%;
      height: 85%;
      font-size: 1.5rem; }
    body .main__index .text_index {
      margin: 3rem 3rem;
      font-size: 1rem;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
    body .main__index .main__video {
      max-width: 80%;
      max-height: 80%;
      border-radius: 1%;
      margin-top: 3%; }
    body .main__index .index_conten {
      margin: 3rem; }
  body .footer {
    grid-area: footer;
    background-color: #f8f8f7;
    text-align: center;
    color: #0c0c0c;
    grid-template-areas: "footer__accesos footer_pie none";
    margin-top: 1%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 100%; }
    body .footer .footer__accesos {
      display: flex;
      grid-area: footer__accesos;
      list-style-type: none;
      margin-left: 3rem;
      width: 8%; }
      body .footer .footer__accesos .footer__redes {
        text-decoration: none;
        color: black;
        background-color: #f8f8f7;
        padding: 0rem 2rem  2rem 2rem;
        margin-top: 4rem;
        width: 60%;
        justify-content: space-between; }
        body .footer .footer__accesos .footer__redes .footer-redes__enlaces {
          width: 50%; }
    body .footer .footer__pie {
      grid-area: footer__pie; }

/*secciones*/
/*contacto*/
.body_contacto {
  grid-template-areas: "header header header" "main_contacto main_contacto main_contacto" "footer footer footer"; }
  .body_contacto .main_contacto {
    grid-area: main_contacto;
    display: grid;
    background: #fcfffa;
    background: -moz-linear-gradient(-45deg, #fcfffa 0%, #c9ffbd 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #fcfffa), color-stop(100%, #c9ffbd));
    background: -webkit-linear-gradient(-45deg, #fcfffa 0%, #c9ffbd 100%);
    background: -o-linear-gradient(-45deg, #fcfffa 0%, #c9ffbd 100%);
    background: -ms-linear-gradient(-45deg, #fcfffa 0%, #c9ffbd 100%);
    background: linear-gradient(135deg, #fcfffa 0%, #c9ffbd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfffa', endColorstr='#c9ffbd', GradientType=1 );
    border: solid 0rem 0.1rem #c1c788;
    justify-items: center;
    height: 100%; }
    .body_contacto .main_contacto .h2_contacto {
      background-color: #9af883;
      padding-bottom: 0rem;
      margin-top: 1%;
      padding-top: 0rem;
      text-align: center;
      width: 100%;
      height: 80%;
      flex-wrap: wrap; }
    .body_contacto .main_contacto .lista_contacto {
      display: grid;
      padding-top: 0px;
      margin-top: 4%;
      margin-bottom: 4%;
      margin-left: 10%;
      font-size: 1.3rem;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
      .body_contacto .main_contacto .lista_contacto .lista__contacto--whatsaap {
        list-style-type: none; }
    .body_contacto .main_contacto .form_contacto {
      display: flex;
      flex-direction: column; }
      .body_contacto .main_contacto .form_contacto .form-contacto__tamaño {
        margin: 1rem; }

/*nosotros*/
.body_nosotros {
  grid-template-areas: "header header header" "main_institucional main_institucional main_institucional" "footer footer footer "; }
  .body_nosotros .main_nosotros {
    grid-area: main_institucional;
    display: grid;
    background: #fcfffa;
    background: -moz-linear-gradient(-45deg, #fcfffa 0%, #c9ffbd 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #fcfffa), color-stop(100%, #c9ffbd));
    background: -webkit-linear-gradient(-45deg, #fcfffa 0%, #c9ffbd 100%);
    background: -o-linear-gradient(-45deg, #fcfffa 0%, #c9ffbd 100%);
    background: -ms-linear-gradient(-45deg, #fcfffa 0%, #c9ffbd 100%);
    background: linear-gradient(135deg, #fcfffa 0%, #c9ffbd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfffa', endColorstr='#c9ffbd', GradientType=1 );
    border: solid 0rem 0.1rem #c1c788;
    justify-items: center;
    height: 100%; }
    .body_nosotros .main_nosotros .h2_nosotros {
      background-color: #9af883;
      padding-bottom: 0rem;
      margin-top: 1%;
      padding-top: 0rem;
      text-align: center;
      width: 100%;
      height: 80%;
      flex-wrap: wrap; }
    .body_nosotros .main_nosotros .text_nosotros {
      margin: 3rem 3rem;
      font-size: 1.3rem;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

/*galeria*/
.body_galeria {
  grid-template-areas: "header header header" "main_publicaciones main_publicaciones main_publicaciones" "footer footer footer "; }
  .body_galeria .main_galeria {
    grid-area: main_publicaciones;
    display: grid;
    background: #fcfffa;
    background: -moz-linear-gradient(-45deg, #fcfffa 0%, #c9ffbd 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #fcfffa), color-stop(100%, #c9ffbd));
    background: -webkit-linear-gradient(-45deg, #fcfffa 0%, #c9ffbd 100%);
    background: -o-linear-gradient(-45deg, #fcfffa 0%, #c9ffbd 100%);
    background: -ms-linear-gradient(-45deg, #fcfffa 0%, #c9ffbd 100%);
    background: linear-gradient(135deg, #fcfffa 0%, #c9ffbd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfffa', endColorstr='#c9ffbd', GradientType=1 );
    border: solid 0rem 0.1rem #c1c788;
    height: 100%; }
    .body_galeria .main_galeria .h2_galeria {
      background-color: #9af883;
      padding-bottom: 0rem;
      margin-top: 1%;
      text-align: center;
      width: 100%;
      height: 80%;
      flex-wrap: wrap; }
    .body_galeria .main_galeria .papa {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 2%;
      margin: 5rem; }
      .body_galeria .main_galeria .papa .galeria_videos {
        max-width: 100%;
        max-height: 100%; }

/*servicios*/
.body_servicios {
  grid-template-areas: "header header header" "main_servicios main_servicios main_servicios" "footer footer footer "; }
  .body_servicios .main_servicios {
    grid-area: main_servicios;
    display: grid;
    background: #fcfffa;
    background: -moz-linear-gradient(-45deg, #fcfffa 0%, #c9ffbd 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #fcfffa), color-stop(100%, #c9ffbd));
    background: -webkit-linear-gradient(-45deg, #fcfffa 0%, #c9ffbd 100%);
    background: -o-linear-gradient(-45deg, #fcfffa 0%, #c9ffbd 100%);
    background: -ms-linear-gradient(-45deg, #fcfffa 0%, #c9ffbd 100%);
    background: linear-gradient(135deg, #fcfffa 0%, #c9ffbd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfffa', endColorstr='#c9ffbd', GradientType=1 );
    border: solid 0rem 0.1rem #c1c788;
    justify-items: center;
    height: 100%; }
    .body_servicios .main_servicios .h2_servicios {
      background-color: #9af883;
      padding-bottom: 0rem;
      margin-top: 1%;
      padding-top: 0%;
      text-align: center;
      width: 100%;
      height: 80%;
      flex-wrap: wrap; }
    .body_servicios .main_servicios .ul_servicios {
      padding-left: 3rem;
      padding-top: 2rem;
      font-weight: bold;
      margin-bottom: 5rem;
      font-size: 1.1rem;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode',  'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
    .body_servicios .main_servicios .img_servicios {
      box-shadow: 2px 2px 6px black;
      width: 90%; }

/*media queries Version Celulares hasta 600 px*/
@media screen and (max-width: 600px) {
  body {
    background-color: #fdfbfb;
    display: grid;
    grid-template-columns: 100%;
    background-color: #fdfdfd;
    margin-left: 0%;
    margin-right: 0%; }
    body .header {
      display: flex;
      grid-area: header;
      position: sticky;
      top: 0%;
      z-index: 2;
      align-items: flex-end;
      flex-wrap: wrap;
      justify-content: space-around;
      background-color: #ffffff; }
      body .header .logo {
        display: flex;
        background-color: #fdfdfb;
        margin-left: 3%;
        margin-right: 0%; }
      body .header .img_header {
        display: none; }
    body .main__index .main__video {
      max-width: 95%;
      max-height: 100%;
      border-radius: 1%;
      margin-top: 3%; } }

/*media queries Version Tablets de 600 a 1200 px*/
@media screen and (max-width: 1200px) {
  body {
    background-color: #fdfbfb;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #fdfdfd;
    margin-left: 0%;
    margin-right: 0%; }
    body .header {
      display: flex;
      grid-area: header;
      position: sticky;
      top: 0%;
      z-index: 2;
      align-items: flex-end;
      flex-wrap: wrap;
      justify-content: space-around;
      background-color: #ffffff; }
      body .header .logo {
        display: flex;
        background-color: #fdfdfb;
        margin-left: 3%;
        margin-right: 0%; }
      body .header .img_header {
        margin-bottom: 0.5%; } }
