$opcion1: (
    color-opcion1: white,
    bg-opcion1: blue,
    font-opcion1: 1rem,
);

$opcion2: (
    color-opcion1: rgb(199, 184, 184),
    bg-opcion1: rgb(206, 206, 221),
    font-opcion1: 0.7rem,
);